.main-container{
    .package-list{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;        
        .package-card{
            border: 1px solid #000;
            border-radius: 10px;
            padding: 10px;
            color: #000;
        }
    }
}